@charset "utf-8";
/* CSS Document */
@font-face
{
    font-family: dep;
    src: url("../font/Exo2-VariableFont_wght.ttf");
}
*{
    font-family:dep;
    margin: 0;
    padding: 0;
}
.page
{
    width: 100%;
    height:100vh;
    background-image: linear-gradient(rgba(#FFFFFF),rgba(	#FFFFFF)),url("../image/237Triumph-Street-Twin-2021-0.jpg");
    background-size: cover;
    background-position: center;
    position: relative;
    
}
.thuan
{
    width: 85%;
    margin: auto;
    padding: 10px 0;
    display: flex;
    align-items: center;
    justify-content:space-between;
}
.logo
{
    width: 200px;
    cursor: pointer;
}
.thuan ul li
{
    list-style: none;
    display: inline-block;
    margin: 0 30px;
    position: relative;
}
.thuan ul li a
{
    text-decoration: none;
    color: black;
    text-transform:uppercase;
}
.thuan ul li::after
{
    content:'';
    height: 3px;
    width: 0;
    background:#F16D13;
    position: absolute;
    left:0;
    bottom: -10px;
    transition: 0.5s;
}
.thuan ul li:hover::after
{
    width: 100%;
}
.content
{
    width: 100%;
    position: absolute;
    top:50%;
    transform: translateY(-50%);
    text-align: left;
    color: black;
    padding: 0 100px;
    box-sizing: border-box;
}
.content h1
{
    font-size: 70px;
    margin-top: 80px;
    top: 50px;
}
.content p
{
    top:50px;
    margin: 20px auto;
    font-weight: 100;
    line-height: 25px;
}
.motor
{
    float:right;
    padding: 0 0px 0 150px;
        
}
button
{
    width: 200px;
    padding: 15px 0;
    text-align: center;
    margin: 20px 10px;
    border-radius: 25px;
    font-weight: bold;
    border: 2px solid #F16D13;
    background:transparent;
    color: black;
    cursor: pointer;
    position: relative;
    overflow: hidden;
}
span
{
    background: #F16D13;
    width: 0;
    height: 100%;
    border-radius: 25px;
    position: absolute;
    left: 0;
    bottom: 0;
    z-index: -1;
    transition: 0.5s;
}
button:hover span
{
    width: 100%;
}
button:hover
{
    border: none;
}
.thuan ul li ul::after
{
 
    height: 3px;
    width: 0;
    background: #F16D13;
    position: absolute;
    left: 0px;
    transition: 0.5s;
}
.thuan ul li ul:hover::after
{
    width: 100%;
}
.thuan ul li ul
{
    position: absolute;
    left: -30px;
    top: 30px;
    visibility: hidden;
    width: 200px;
}
.thuan ul li ul li
{
    with: 300px;
    height: 10px;
}
.thuan ul li:hover ul
{
    visibility: visible; 
}
.middle
{
    width: 100%;
    height: 200px;
    background-color: black;
    position: absolute;
    bottom: -50px;
    display: flex;
    justify-content: center;
}
.middle
{
    position: relative;
}
.part
{
    width: 20%;
    height: 100px;
    float: left;
    margin:4%;
    padding: 50px;
    text-align: center;
    color: white;
}
.title
{
    width: 90%;
    height: 50px;
    position: absolute;
    text-align: center;
    margin: 0.5%;
    color: white;    
}

.slider
{
    width: 100%;
    height: 500px;
    border-radius: 10px;
    overflow: hidden;
    background: #000000;
    
}
.slides
{
    width: 500%;
    height: 500px;
    display: flex;
    align-items: center;
}
.slides input
{
    display: none;
}
.slide
{
    width: 20%;
    transition: 2s;
}
.slide img
{
    width: 900px;
    height: 500px;

}
.slide font
{
    color: white;
    padding: 50px;
    text-align: left;
    position: absolute;
    box-sizing: border-box;
}

.navigation-manual
{
    position:absolute;
    width: 800px;
    margin-top: -40px;
    display: flex;
    justify-content: center;
}
.manual-btn
{
    border: 2px solid #FBF4F4;
    padding: 5px;
    border-radius: 10px;
    cursor: pointer;
    transition: 1s;
}
.manual-btn:not(:last-child)
{
    margin-right: 40px;
}
.manual-btn:hover
{
    background: #FBF4F4;
}
#radio1:checked ~.first
{
    margin-left: 0;
}
#radio2:checked ~.first
{
    margin-left: -20%;
}
#radio3:checked~.first
{
    margin-left: -40%;
}
#radio4:checked~.first
{
    margin-left: -60%;
}
.bottom
{
    width: 100%;
    height: 100px;
    background-color: white;
    display: flex;
    justify-content: center;
}
.bottom-part
{
    width: 20%;
    height: 100px;
    float: left;
    margin:2%;
    padding: 50px;
    text-align: left;
    color: black;
    position: relative;
}
.bottom-part ul
{
    text-align: left;
    box-sizing: border-box;
    position: absolute;
    list-style: none;
}
